@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {font-family: 'Noto Sans KR', sans-serif;}
html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	color:#333;
}
h1, h2, h3, h4, h5, h6 {
	color:#333;
}

ol, ul {
	list-style: none;
}
a:hover {
	color:#000;
	text-decoration:none;
}
table {
	text-align:center;border:1px solid #ddd;
}
table thead tr {
	width:100%;
	background-color:#eee;
}
table thead th {
	text-align:center;
}

/* main login box */

.loginBox {
	padding:20px; border:1px solid #ddd; margin-bottom:20px;
}
.loginBox .img {
	width:50px; height:50px; border-radius:100%; background:#ddd;	
}
.loginBox .name {
	fonst-size:16px;
}
.loginBox .email {
	fonst-size:13px;
}

/* main article */
#board tbody tr td:nth-child(2) {
	text-align:left;
}

/* main fav article */

#favArticle {
	border:1px solid #ddd; padding:20px;
}
#favArticle h5 {
	padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #ddd; font-weight:600;
}
#favArticle li a {
	display:block; padding:5px 0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;
}

/* main pager */
#pg {
	text-align:center;
}

#pg a, #pg span {
	padding:0 10px;
}
#pg span.on {
	color:red;
}

/* view */
#view .title {
	position:relative; padding-bottom:10px; border-bottom:1px solid #ccc;
}
#view .title h2 {
	margin-bottom:15px;
}
#view .title .by {
	font-size:15px; font-style:italic; margin-right:15px;
}
#view .title .date {
	font-size:13px; color:#777;
}
#view .title .view {
	position:absolute; right:0; bottom:10px;
}
#view .title .view i {
	margin-right:5px;
}
#view .content {
	min-height:500px; padding:20px 0; border-bottom:1px solid #ccc; margin-bottom:20px;
}

/* mypage */
#userModify h2{
	text-align:center; margin-bottom:40px;
}
#userModify .form {
	width:400px; margin:0 auto;
}
#userModify .img {
	text-align:center;
	margin-bottom:30px;
}
#userModify .img label {
	position:relative; height:100px; background:#ccc; border-radius:100%; cursor:pointer;
}
#userModify .img label i {
	position:absolute; font-size:20px;right:3px;bottom:10px;
}
#userModify .img input{
	position: absolute; width:0; height:0; padding:0; overflow:hidden; border:0;
}
#userModify p {
	margin-bottom:20px;
}
#userModify label {
	width:100px;
}
#userModify input {
	width:296px; height:30px; padding:0 10px;
}
#userModify .submit {
	text-align:center; padding:20px 0;
}
#userModify .submit input {
	width:150px;
}
.mypageNav {
	border-bottom: 1px solid #ccc;
}
.mypageNav li {
	border:1px solid #ccc; border-bottom:0; background:#f8f8f8;
}
.mypageNav li a {
	display:block; text-align:center; padding:20px 0;
}
